{% extends "index.html" %}
{% block nav %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">Deep Enhancer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                            <a class="nav-link" href="/super-resolution">Super Resoltion</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/deblurring">Deblurring</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/colorization">Colorization</a>
                    </li>
            </ul>
            </div>
        </nav>
{% endblock %}
{% block content %}
<div style="top:100px">
<br>
<br>
<main role="main">
<form action="/upload" method="POST" enctype="multipart/form-data">
    <input type= "file" name="image">
<button class="btn btn-primary" type="submit">Submit</button>
</form>
</main>
</div>
{% endblock %}